::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar {
  width: 16px;
}

html {
  display: block;
  background-color: #181818;
}

html,body {
  height: calc(100% + 1px);
}

body {
  min-width: 720px;
  color: #b3b3b3;
}

#root {
  width: 100%;
  height: 100%;
}

.root, .root__container {
  height: 100%;
  position: relative;
}

.root {
  min-height: 100vh;
}

.root__container {
  min-height: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "navbar mainview" "footer footer";
}

.root__navbar,
.root__mainview {
  display: flex;
  flex-direction: column;
  min-height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.root__mainview {
  width: 100%;
  grid-area: mainview;
}

.root__footer {
  width: 100%;
  grid-area: footer;
  background-color: #181818;
}

.root__navbar {
  grid-area: navbar;
  overflow-y: auto;
  will-change: transform;
  background-color: rgba(0, 0, 0, 0.3);
  width: 220px;
}


.root__AdsContainer {
  height: 100%;
  min-height: 100%;
  display: grid;
  width: 100%;
  grid-template-areas: "sale feature";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.root__sale {
  width: 100%;
  grid-area: sale;
}

.root__sale img {
  width: 100%;
  height: 100%;
}

.root__feature {
  grid-area: feature;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "hot" "new";
  row-gap: 15px;
}

.root__hot {
  grid-area: hot;
  width: 100%;
}

.root__new {
  grid-area: new;
  width: 100%;
}

.root__hot img {
  width: 100%;
  height: 100%;
}

.root__new img {
  width: 100%;
  height: 100%;
}

.navBar,
.navBarHeader {
  display: flex;
  -webkit-box-direction: normal;
}

.navBar {
  padding: 24px;
  flex: 1;
  cursor: default;
  user-select: none;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  min-height: 0;
}

.navBar__Item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: bold
}

.navBarHeader .logo {
  outline: none;
  border: 0;
  padding-bottom: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo {
  padding-left: 24px;
}

.mainviewContainer {
  flex: 1;
  -webkit-box-flex: 0;
  min-height: 0;
}

.mainviewContainer__scrollnode {
  height: 100%;
  overflow-y: scroll;
}

.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -webkit-box-orient: horizontal;
}

.mainContainer__Item {
  width: 200px;
  height: 230px;
}

.mainContainer__Item img {
  width: 200px;
  height: 200px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.spacingContent {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1480px;
}

.fluidContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.link {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 1.3em;
}

ul {
  list-style: none;
}

li {
  display: list-item;
}

ul,li,nav {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
